In [2]:
import sqlite3 as sq

In [3]:
con = sq.connect('ESM.db')

In [4]:
cur = con.cursor()

1.Create Table Employee.

In [5]:
q='''create table if not exists employee(eid int primary key,ename text,dept text,basic int,branch text)'''

In [6]:
cur.execute(q)

In [7]:
con.commit()

2.Insert 5 Record Directly.

In [9]:
i='''insert into employee values(1,'om','Account',10000,'surat'),
                                (2,'sai','Inventory',6000,'mumbai'),
                                (3,'ram','HR',7000,'baroda'),
                                (4,'radha','IT',9000,'pune'),
                                (5,'kishan','HR',5000,'bardoli')'''

Insert 5 Record Using Tuple

In [11]:
i1=[(6,'riya','Account',10000,'delhi'),
    (7,'mansi','IT',4500,'navsari'),
    (8,'priya','HR',9000,'surat'),
    (9,'misti','Inventory',5600,'bharuch'),
    (10,'mitali','HR',9500,'bardoli')]

Insert 5 Record Taking Input From User

In [12]:
i2="insert into employee values(?,?,?,?,?)"

In [13]:
L=[]

In [14]:
for x in range(5):
    no=int(input("Enter emp id:"))
    name=input("Enter emp name:")
    dept=input("Enter emp department:")
    basic=int(input("Enter emp basic:"))
    branch=input("Enter emp branch:")
    T=(no,name,dept,basic,branch)
    L.append(T)

Enter emp id:11
Enter emp name:raj
Enter emp department:bca
Enter emp basic:20000
Enter emp branch:surat
Enter emp id:12
Enter emp name:pratham
Enter emp department:it
Enter emp basic:21000
Enter emp branch:banglor
Enter emp id:13
Enter emp name:bhavik
Enter emp department:hr
Enter emp basic:19000
Enter emp branch:bardoli
Enter emp id:14
Enter emp name:neel
Enter emp department:it
Enter emp basic:18000
Enter emp branch:surat
Enter emp id:15
Enter emp name:smit
Enter emp department:hr
Enter emp basic:17000
Enter emp branch:delhi

In [21]:
con.commit()

3.Update Records Who are From "Surat" Branch With Increament In Salary 10%.

In [22]:
U="update employee set basic=basic+(basic*10)/100 where branch='surat'"

In [23]:
cur.execute(U)

In [24]:
con.commit()

4.Print All Records.

In [25]:
S="select * from employee"

In [26]:
cur.execute(S)

In [27]:
R=cur.fetchall()

In [28]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

emp id: 11
emp name: raj
emp dept: bca
emp basic: 14000
emp branch: delhi
emp id: 12
emp name: neel
emp dept: bca
emp basic: 13000
emp branch: nagpur
emp id: 13
emp name: keval
emp dept: bca
emp basic: 14520
emp branch: surat
emp id: 14
emp name: bhavik
emp dept: bba
emp basic: 10000
emp branch: bardoli
emp id: 15
emp name: pratham
emp dept: mca
emp basic: 17000
emp branch: delhi

5.Print Records Where Dept Is "HR" And "IT".

In [29]:
Z="select * from employee where dept in('HR','IT')"

In [30]:
cur.execute(Z)

In [31]:
R=cur.fetchall()

In [32]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

Enter emp id:12
Enter emp name:pratham
Enter emp department:it
Enter emp basic:21000
Enter emp branch:banglor
Enter emp id:13
Enter emp name:bhavik
Enter emp department:hr
Enter emp basic:19000
Enter emp branch:bardoli
Enter emp id:14
Enter emp name:neel
Enter emp department:it
Enter emp basic:18000
Enter emp branch:surat
Enter emp id:15
Enter emp name:smit
Enter emp department:hr
Enter emp basic:17000
Enter emp branch:delhi

6.Print Records In Sorting Order Of Department.

In [33]:
B="select * from employee order by dept"

In [34]:
cur.execute(B)

In [35]:
R=cur.fetchall()

In [40]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

emp id: 14
emp name: bhavik
emp dept: bba
emp basic: 10000
emp branch: bardoli
emp id: 11
emp name: raj
emp dept: bca
emp basic: 14000
emp branch: delhi
emp id: 12
emp name: neel
emp dept: bca
emp basic: 13000
emp branch: nagpur
emp id: 13
emp name: keval
emp dept: bca
emp basic: 14520
emp branch: surat
emp id: 15
emp name: pratham
emp dept: mca
emp basic: 17000
emp branch: delhi

7.Print records where basic is >6000.

In [41]:
B="select * from employee where basic>6000"

In [42]:
cur.execute(B)

In [43]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

emp id: 14
emp name: bhavik
emp dept: bba
emp basic: 10000
emp branch: bardoli
emp id: 11
emp name: raj
emp dept: bca
emp basic: 14000
emp branch: delhi
emp id: 12
emp name: neel
emp dept: bca
emp basic: 13000
emp branch: nagpur
emp id: 13
emp name: keval
emp dept: bca
emp basic: 14520
emp branch: surat
emp id: 15
emp name: pratham
emp dept: mca
emp basic: 17000
emp branch: delhi

8.Print records whrere employee name second character is "r".

In [44]:
v="select * from employee where ename like'_r%'"

In [45]:
cur.execute(v)

In [46]:
R=cur.fetchall()

In [47]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

emp id: 15
emp name: pratham
emp dept: mca
emp basic: 17000
emp branch: delhi

9.Grouping record of employee who are from "Account" and "Inventory".

In [48]:
c="select * from employee where dept in('Account','Inventory') group by dept"

In [49]:
cur.execute(c)

In [50]:

R=cur.fetchall()

In [51]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

10.Print all records based on branch name in descending order.

In [53]:
m="select * from employee order by dept desc"

In [54]:
cur.execute(m)

In [55]:
R=cur.fetchall()

In [56]:
for y in range(len(R)):
    print("emp id:",(R[y][0]))
    print("emp name:",(R[y][1]))
    print("emp dept:",(R[y][2]))
    print("emp basic:",(R[y][3]))
    print("emp branch:",(R[y][4]))

emp id: 15
emp name: pratham
emp dept: mca
emp basic: 17000
emp branch: delhi
emp id: 11
emp name: raj
emp dept: bca
emp basic: 14000
emp branch: delhi
emp id: 12
emp name: neel
emp dept: bca
emp basic: 13000
emp branch: nagpur
emp id: 13
emp name: keval
emp dept: bca
emp basic: 14520
emp branch: surat
emp id: 14
emp name: bhavik
emp dept: bba
emp basic: 10000
emp branch: bardoli

In [57]:
con.commit()

In [58]:
con.close()